[user]
	email = jason.hartmann@mckesson.com
	name = Jason Hartmann
[color]
	branch = auto
	status = auto
[core]
	editor = vi
[url "http://"]
	insteadOf = git://
[push]
	default = simple
[alias]
	cm = commit -am
	c = commit -am
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	who = shortlog -s --
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	a = add -A .
	s = status
